* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  text-align: center;
}

.item {
  display: flex;
  width: 25rem;
  background-color: gainsboro;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

svg {
  cursor: pointer;
  color: blue;
}

svg:hover {
  color: red;
}

label {
  cursor: pointer;
}

.addForm label {
  display: none;
}

.addForm input {
  padding: 0.5rem 10rem 0.5rem 1rem;
  margin-top: 1rem;
}

.addForm button {
  margin-left: 1rem;
  padding: 0.3rem;
}

.searchForm label {
  display: none;
}

.searchForm input {
  padding: 0.5rem 5rem 0.5rem 1rem;
  margin-top: 1rem;
  
}
